*.obj
*.mtl
*.pyc
HNLog.txt
*.asv
*.mat
*.xlsx
*.txt
*.fig
*.ply
*.avi
*.bvh
*.npy
*.eps
*.csv
*.pkl
*.yaml
*.json
*.gif
*.pyc
*.pptx
*.tar
*.h5
*.psd
*.aux
*.p
*.brf
*.blg
*.gz
*.mp4
*.npz
*.pth
*.pt
*.bbl
*.log
*.zip
*.doc
*.docx
*.ini
DOG/*